<?xml version="1.0"?>
<config>
    <modules>
        <Morozov_Similarity>
            <version>1.0.1</version>
        </Morozov_Similarity>
    </modules>
    <default>
        <morozov_similarity>
            <general>
                <enabled>0</enabled>
                <url><![CDATA[https://ss-similarity.apps.msk.morozov.cloud/api/view/]]></url>
                <key>12b3gj746354ldyr</key>
                <email>test@gmail.com</email>
                <password>250504</password>
                <timeout>100</timeout>
            </general>
            <upsell_options>
                <upsell_max_count>10</upsell_max_count>
            </upsell_options>
        </morozov_similarity>
    </default>
    <global>
        <models>
            <morozov_similarity>
                <class>Morozov_Similarity_Model</class>
                <resourceModel>morozov_similarity_resource</resourceModel>
            </morozov_similarity>
            <morozov_similarity_resource>
                <class>Morozov_Similarity_Model_Resource</class>
                <entities>
                </entities>
            </morozov_similarity_resource>
            <!-- MDN_AdvancedStock_Model_Catalog_Product -->

            <catalog>
                <rewrite>
                    <product>Morozov_Similarity_Model_Rewrite_CatalogProduct</product>
                </rewrite>
            </catalog>
        </models>
        <resources>
            <morozov_similarity_setup>
                <setup>
                    <module>Morozov_Similarity</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </morozov_similarity_setup>
            <morozov_similarity_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </morozov_similarity_write>
            <morozov_similarity_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </morozov_similarity_read>
        </resources>
        <blocks>
            <morozov_similarity>
                <class>Morozov_Similarity_Block</class>
            </morozov_similarity>
        </blocks>
        <helpers>
            <morozov_similarity>
                <class>Morozov_Similarity_Helper</class>
            </morozov_similarity>
        </helpers>
    </global>
    <frontend>
        <routers>
            <morozov_similarity>
                <use>standard</use>
                <args>
                    <module>Morozov_Similarity</module>
                    <frontName>morozov_similarity</frontName>
                </args>
            </morozov_similarity>
        </routers>
        <events>
            <catalog_product_upsell>
                <observers>
                    <morozov_similarity_catalog_product_upsell>
                        <type>singleton</type>
                        <class>morozov_similarity/observer</class>
                        <method>onCatalogProductUpsell</method>
                    </morozov_similarity_catalog_product_upsell>
                </observers>
            </catalog_product_upsell>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <morozov_similarity before="Mage_Adminhtml">Morozov_Similarity_Adminhtml</morozov_similarity>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <morozov_similarity_set_products>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>morozov_similarity/observer::setProducts</model>
                </run>
            </morozov_similarity_set_products>
        </jobs>
    </crontab>
</config>