*
!.gitignore

!app
!app/code
!app/code/local
!app/code/local/Morozov
!app/code/local/Morozov/Similarity
!app/code/local/Morozov/Similarity/*
!app/code/local/Morozov/Similarity/*/*
!app/code/local/Morozov/Similarity/*/*/*
!app/code/local/Morozov/Similarity/*/*/*/*
!app/code/local/Morozov/Similarity/*/*/*/*/*
!app/code/local/Morozov/Similarity/*/*/*/*/*/*
!app/code/local/Morozov/Similarity/*/*/*/*/*/*/*
!app/code/local/Morozov/Similarity/*/*/*/*/*/*/*/*
!app/code/local/Morozov/Similarity/*/*/*/*/*/*/*/*/*
!app/code/local/Morozov/Similarity/*/*/*/*/*/*/*/*/*/*
!app/code/local/Morozov/Similarity/*/*/*/*/*/*/*/*/*/*/*

!app/etc
!app/etc/modules
!app/etc/modules/Morozov_Similarity.xml


